<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register an Account</title>
<link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>

<h2><a href="/login">Cryptic Pigeon</a></h2>
<!-- Form holds function to create new user account-->
<form action="/register" method="POST">

  <!-- The container below will hold labels, buttons, and input fields -->
  <div class="container">
    <!-- Prompt for a new username -->
    <label for="username"><b>Email To Register</b></label>
    <input type="email" name="email" id="email" placeholder="Enter an Email" required>

    <!-- Prompt for a new password -->
    <label for="password"><b> Create A Password</b></label>
    <input type="password" name="password" id="new_password" placeholder="Enter a new Password" required>
        
    <button type="submit">Sign up</button>

</form>


</body>
</html>


