body, html {
    height: 100%; /* Ensure the body and html elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: "Raleway", sans-serif; /* Apply font-family */
    background-image: url('cyber-pigeon-13c803.webp'); /* Specify background image */
    background-position: center; /* Center the background image horizontally and vertically */
    background-size: contain; /* Cover the entire viewport with the background image */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    text-align: left;
  }

  h2 a {
    color: whitesmoke; /* Use the same color as the parent element (h2) */
    text-decoration: none; /* Remove underline */
  }
  
  
  form {
    max-width: 300px;
    margin: 0 auto;
    border: 3px solid clear;
    padding: 50px;
  }
  
  .container {
    padding: 175px 1px 1px;
  }
  
  input[type=text], input[type=password] {
    width: calc(100% - 32px);
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  
  .psw {
    float: none;
    padding-top: 16px;
  }
  